{% extends "base.html" %}
{% load bootstrap_form from bootstrap4 %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "Sign Up" context "Signup page title" %} — {{ block.super }}{% endblock %}

{% block meta_tags %}
<meta name="robots" content="nofollow">
{% endblock meta_tags %}

{% block content %}
<div id="content" style="background: #f9f9f9;">
	<div class="container">
		<div class="row justify-content-md-center">
            <div class="col-md-12 col-lg-8 col-lg-offset-2">
                <div class="login">                        	
					<div class="row">
						<div class="col-lg-6">
							<div id="left_form" class="text-center">
								<figure><img src="{% static 'assets/new/img/registration_bg.svg' %}" alt=""></figure>
								<h2>Registration</h2>
								<p>Already have an account? <a rel="nofollow" href="{% url 'account:login' %}" class="text-light" style="text-decoration: underline">Login</a></p>
								<a href="#0" id="more_info" data-toggle="modal" data-target="#more-info"><i class="pe-7s-info"></i></a>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="login-form-container"> 
			                    <form class="login-form" role="form" method="post" action="{% url 'account:signup' %}">
									{% csrf_token %}
									{% bootstrap_form form show_label=False %}
			                        <div class="button-box">
			                            <button type="submit" class="btn btn-common log-btn btn-block">Register</button>
			                        </div>
			                    </form>
			                </div>
						</div>
					</div> 
                </div>
            </div>
		</div>
	</div> 
</div>
{% endblock %}
