{% extends 'dashboard/base_zero_page.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "No contact forms found." %}{% endblock %}
{% block content %}
{% static "dashboard/images/add.svg" as img_path %}
{% url 'contact' as upload_url %}
{% if product_types %}
{% blocktrans %}
You can create products by using the <span class="btn-fab-presentation"><svg data-src="{{ img_path }}" /></span> button.
{% endblocktrans %}
{% else %}
{% blocktrans %}
<a href="{{ upload_url }}">contact forms </a> are visible here.
{% endblocktrans %}
{% endif %}
{% endblock %}
