{% load i18n %}
{% load bootstrap_field from bootstrap4 %}
{% load build_absolute_uri from urls %}
{% load get_object_properties from attributes %}
{% load get_thumbnail product_first_image from product_images %}
{% load placeholder %}
{% load staticfiles %}
{% load taxed_prices %}
{% load ratings %}

{% if not is_visible %}
<div class="alert alert-warning" role="alert">
    {% blocktrans trimmed with date=product.available_on|date context "Product details text" %}
    <strong>Warning!</strong>
    You are previewing a product that will become visible on <strong>{{ date }}</strong>.
    {% endblocktrans %}
</div>
{% endif %}
<div class="row product">
    <script type="application/ld+json">{{ json_ld_product_data|safe }}</script>
    <div class="col-md-6 col-12 product__gallery">
		{% with images=product_images %}
        {% if images %}
        <div id="carousel-example-generic" class="carousel slide">
            <div class="carousel-inner" role="listbox">
				{% for image in images %}
                <div class="carousel-item{% if forloop.first %} active{% endif %}">
					<img class="d-block img-fluid lazyload lazypreload"
						 data-src="{% get_thumbnail image.image method="crop" size="540x540" %}"
						 data-src="{% get_thumbnail image.image method="crop" size="540x540" %} 1x, {% get_thumbnail image.image method="crop" size="1080x1080" %} 2x"
						 alt=""
						 src="{% placeholder size=540 %}">
                </div>
				{% endfor %}
            </div>
            {% if images|length > 1 %}
            <a class="carousel-control-prev" href="#carousel-example-generic" role="button" data-slide="prev">
                <i class="fas fa-arrow-left text-dark" style="font-size: 3rem"></i>
            </a>
            <a class="carousel-control-next" href="#carousel-example-generic" role="button" data-slide="next">
                <i class="fas fa-arrow-right text-dark" style="font-size: 3rem"></i>
            </a>
            {% endif %}
            <ol class="carousel-indicators d-none d-md-block">
				{% for image in images %}
                {% if images|length > 1 %}
                <li data-target="#carousel-example-generic" data-slide-to="{{ forloop.counter0 }}"{% if forloop.first %} class="active"{% endif %}>
                    <img data-src="{% get_thumbnail image.image method="crop" size="60x60" %}"
                         data-srcset="{% get_thumbnail image.image method="crop" size="60x60" %} 1x, {% get_thumbnail image.image method="crop" size="120x120" %} 2x"
                         alt=""
                         class="lazyload lazypreload"
                         src="{% placeholder size=60 %}">
                </li>
                {% endif %}
				{% endfor %}
            </ol>
        </div>
        {% else %}
        <img data-src="{% placeholder size=540 %}"
             data-srcset="{% placeholder size=540 %} 1x, {% placeholder size=1080 %} 2x"
             alt=""
             class="img-fluid lazyload lazypreload">
        {% endif %}
		{% endwith %}
    </div>
    <div class="col-md-6 col-12 product__info">
		<div class="price-ratting">
			<div class="price text-faded" style="font-size: 1.2rem">
				{% if availability.available %}
				{% if availability.discount %}
				{% if availability.price_range_undiscounted.start != availability.price_range.start %}
				{% price availability.price_range %} <del style="font-size: 0.8rem">{% price availability.price_range_undiscounted %}</del> 
				{% endif %}
				{% else %}
				{% price availability.price_range %}
				{% endif %}
				{% else %}
				Out of Stock
				{% endif %}
			</div>
			<div class="ratting" style="font-size: 1rem">
				<div class="product-star">
					{% calculate_rating product as total_stars %}
					{% create_stars total_stars as rating %}
					{% for i in rating %}
					{% if i == "x" %}<i class="i-color fas fa-star"></i>{% else %}<i class="far fa-star"></i>{% endif %}
					{% endfor %}
					<span>({{ product.reviews.count }} Customer Reviews)</span>
                </div>
			</div>
		</div>
		{% if user.is_staff %}
        <p class="mt-4">
			<a href="{% url "dashboard:product-details" pk=product.pk %}">
				{% trans "Edit in dashboard" context "Product details link text" %}
			</a>
        </p>
		{% endif %}
		{% if is_visible and product.is_in_stock %}
		<a href="{{ product.get_absolute_url }}"><button class="btn primary text-light">Buy</button></a>
		{% else %}
        <p class="alert alert-warning">
			{% blocktrans context "Product details text" %}This product is currently <strong>unavailable</strong>.{% endblocktrans %}
        </p>
		{% endif %}
		<div class="mt-4">
			<h4>{% trans "Description" context "Product details title" %}</h4>
			<hr>
			{{ product.description|safe }}
		</div>
		<hr>
		<table class="table">
			{% for attribute, value in product_attributes.items %}
			<tr>
				<td>{{ attribute }}:</td>
				<td><strong>{{ value }}</strong></td>
			</tr>
			{% endfor %}
		</table>
    </div>
</div>
