{% extends "base.html" %}

{% load bootstrap_field from bootstrap4 %}
{% load build_absolute_uri from urls %}
{% load get_object_properties from attributes %}
{% load get_thumbnail product_first_image from product_images %}
{% load i18n %}
{% load markdown from markdown %}
{% load placeholder %}
{% load staticfiles %}
{% load taxed_prices %}
{% load ratings %}

{% block title %}
{% if product.seo_title %}
{{ product.seo_title }}
{% else %}
{{ product.name }} - {{ block.super }}
{% endif %}
{% endblock %}

{% block meta_tags %}
<meta property="og:title" content="{{ product.seo_title|default:product.name }}">
<meta property="og:description" content="{{ product.seo_description|default:"" }}">
<meta name="description" content="{{ product.seo_description|default:"" }}">

{% build_absolute_uri request=request location=product.get_absolute_url as product_url %}
<meta property="og:url" content="{{ product_url }}">
<link rel="canonical" href="{{ product_url }}">

{% product_first_image product size="510x510" as product_image %}
{% if product_image %}
<meta property="og:image" content="{{ product_image }}" />
<meta property="og:image:width" content="510">
<meta property="og:image:height" content="510">
{% else %}
<meta property="og:image" content="{% static "images/block1.png" %}">
{% endif %}
{% endblock meta_tags %}

{% block breadcrumb %}
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb">
                    <a href="{% url 'home' %}"><i class="icon-home"></i> Home</a>
					{% if product.category %}
                    <span class="crumbs-spacer"><i class="fa fa-angle-double-right"></i></span>
					<a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a>
					{% endif %}
                    <span class="crumbs-spacer"><i class="fa fa-angle-double-right"></i></span>
                    <span class="current"><a href="{{ product.get_absolute_url }}">{{ product }}</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumb %}

{% block content %}
{% if not is_visible %}
<div class="alert alert-warning" role="alert">
    {% blocktrans trimmed with date=product.available_on|date context "Product details text" %}
    <strong>Warning!</strong>
    You are previewing a product that will become visible on <strong>{{ date }}</strong>.
    {% endblocktrans %}
</div>
{% endif %}

<section id="product-collection" class="section">
    <div class="container">
        <div class="row">
			{% with images=product_images %}
			{% if images %}
            <div class="col-md-5 col-sm-6 col-xs-12">
                <div class="product-details-image">
                    <div class="slider-for slider">
						{% for image in images %}
					    <div><img src="{% get_thumbnail image.image method="crop" size="1080x1080" %}" class="zoom" alt=""></div>
						{% endfor %}
                    </div>
                    <ul id="productthumbnail" class="slider slider-nav">
						{% for image in images %}
						<li><img src="{% get_thumbnail image.image method="crop" size="300x300" %}" alt=""></li>
						{% endfor %}
                    </ul>
                </div>
            </div>
			{% endif %}
			{% endwith %}
            <div class="{% if product_images %}col-md-7 col-sm-6 {% endif %}col-xs-12">
				<div class="info-panel">
                    <h1 class="product-title">{{ product }}</h1>

					<div class="price-ratting">
						{% if availability.available %}
						{% if show_variant_picker %}
						<div id="variant-price-component" class="price float-left"></div>
						{% else %}
						<div class="price">
							<span>{% price_range availability.price_range %}</span>
							{% if availability.discount %}
							<small class="product__info__price__undiscounted">
								{% price availability.price_range_undiscounted %}
							</small>
							{% endif %}
							{% if availability.price_range_local_currency %}
							<br>
							<small class="text-info">
								&asymp;
								{% price availability.price_range_local_currency %}
							</small>
							{% endif %}
							{% if request.taxes %}
							<small>
								{% tax_rate request.taxes product.tax_rate as tax_rate %}
								{% if site.settings.display_gross_prices %}
								{% blocktrans trimmed with tax_rate=tax_rate context "Product details page vat rate value" %}
								including {{ tax_rate }}% VAT
								{% endblocktrans %}
								{% else %}
								{% blocktrans trimmed with tax_rate=tax_rate context "Product details page vat rate value" %}
								excluding {{ tax_rate }}% VAT
								{% endblocktrans %}
								{% endif %}
							</small>
							{% endif %}
						</div>
						{% endif %}
						{% endif %}
						<div class="ratting float-right">
							<div class="product-star">
								{% calculate_rating product as total_stars %}
								{% create_stars total_stars as rating %}
								{% for i in rating %}
								{% if i == "x" %}<i class="i-color fas fa-star"></i>{% else %}<i class="far fa-star"></i>{% endif %}
								{% endfor %}
								<span>({{ product.reviews.count }} Customer Reviews)</span>
                            </div>
						</div>
					</div>
					
					{% if user.is_staff %}
					<p class="mb-4">
						<a href="{% url "dashboard:product-details" pk=product.pk %}">Edit Product in Dashboard</a>
					</p>
					{% endif %}

					<div class="short-desc">
                        <h5 class="sub-title">Quick Overview</h5>
                        <p>{{ product.description|safe }}</p>
                    </div>
					
					{% if is_visible and product.is_in_stock %}
					{% block orderform %}
					{% if show_variant_picker %}
					{% csrf_token %}
					<div id="variant-picker" data-variant-picker-data="{{ variant_picker_data }}" data-action="{% url 'product:add-to-cart' product_id=product.pk slug=product.get_slug %}"></div>
					{% else %}
					<form id="product-form" role="form" class="product-form clearfix" method="post" action="{% url 'product:add-to-cart' product_id=product.pk slug=product.get_slug %}" novalidate>
						{% csrf_token %}
						{% bootstrap_field form.variant %}
						<div class="product__info__quantity">
							{% bootstrap_field form.quantity %}
						</div>
						<div class="form-group product__info__button">
							<button class="btn primary">
								{% trans "Add to cart" context "Product details primary action" %}
							</button>
						</div>
					</form>
					{% endif %}
					{% endblock %}
					<div class="product__info__form-error">
						<small class="text-danger"></small>
					</div>
					<div class="pincode mt-4">
						<div id="pincode-validator">
							<h5>Check Pincode</h5>
							<form id="pincode-checker" class="form-inline">
								<input type="text" id="pincode-text" name="pincode-text" maxlength="6" pattern="[0-9]{6}" title="6 digit pin code" class="form-control mr-md-4 mb-4 mb-md-0" placeholder="Pincode">
								<input type="hidden" name="url" value="{% url 'product:pincode_checker' product.get_slug product.pk 0 %}">
								<input type="submit" class="btn btn-common">
							</form>
							<span class=""></span>
						</div>
						<div class="method-sec row mt-4">
							<div class="col-xs-6 col-sm-6 col-md-3">
								<div class="method-box">
									<i class="fas fa-truck"></i>
									<p>Shipping Free</p>
									<p><strong>Free</strong></p>
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-3">
								<div class="method-box">
									<i class="fas fa-money-bill-alt"></i>
									<p>COD</p>
									<p><strong>Available</strong></p>
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-3">
								<div class="method-box">
									<i class="fas fa-reply"></i>
									<p>Replace</p>
									<p><strong>10 days</strong></p>
								</div>
							</div>
							<div class="col-xs-6 col-sm-6 col-md-3">
								<div class="method-box">
									<i class="fas fa-times-circle"></i>
									<p>Cancellation</p>
									<p><strong>Allowed</strong></p>
								</div>
							</div>
						</div>
					</div>
					{% else %}
					<p class="alert alert-warning">
						{% blocktrans context "Product details text" %}This product is currently <strong>unavailable</strong>.{% endblocktrans %}
					</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>
<section class="single-pro-tab section">
	<div class="container"> 
		<div class="row">
			<div class="col-xs-12" style="width:100%">
				<nav>
					<div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
						<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Description</a>
						<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Reviews</a>
						<a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Information</a>
					</div>
				</nav>
				<div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
					<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
						<div class="pro-tab-info pro-description">
							{{ product.description|safe }}
						</div>
					</div>
					<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
						{% include 'product/_reviews.html' %}
					</div>
					<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
						<div class="pro-tab-info">
							<table class="table">
								{% for attribute, value in product_attributes.items %}
								<tr>
									<td>{{ attribute }}:</td>
									<td><strong>{{ value }}</strong></td>
								</tr>
								{% endfor %}
							</table>
						</div>
					</div>
				</div>				
			</div>
		</div>
	</div>
</section>

<div class="section" >
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
		        <div class="trust-box text-center">
					<i class="fa fa-heart"></i>
		        	<h4>24x7 Help</h4>
		        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. </p>
		        </div>
			</div>
            <div class="col-md-3 col-sm-6 col-xs-12">
		        <div class="trust-box text-center">
		        	<i class="fa fa-lock"></i>
		        	<h4>Teeshood Trust</h4>
		        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. </p>
		        </div>
			</div>
            <div class="col-md-3 col-sm-6 col-xs-12">
		        <div class="trust-box text-center">
		        	<i class="fa fa-star"></i>
		        	<h4>100% Assurance</h4>
		        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. </p>
		        </div>
			</div>
            <div class="col-md-3 col-sm-6 col-xs-12">
		        <div class="trust-box text-center">
		        	<i class="fa fa-shopping-bag"></i>
		        	<h4>Paytm Mall Promise</h4>
		        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. </p>
		        </div>
			</div> 

		</div>
	</div>
</div>
{% endblock %}
