{% extends "base.html" %}
{% load bootstrap_pagination from bootstrap4 %}
{% load build_absolute_uri from urls %}
{% load get_object_properties from attributes %}
{% load i18n %}
{% load shop %}
{% load staticfiles %}

{% block footer_scripts %}
{{ block.super }}
{% endblock footer_scripts %}

{% block title %}
{% if object.seo_title %}
{{ object.seo_title }}
{% else %}
{{ object.name }} - {{ block.super }}
{% endif %}
{% endblock %}

{% block meta_tags %}
<meta property="og:title" content="{{ object.seo_title|default:object.name }}">
{% get_object_properties object=object properties="seo_description,description" as seo_description %}
<meta property="og:description" content="{{ seo_description }}">
<meta name="description" content="{{ seo_description }}">
<meta property="og:image" content="{% static "images/block1.png" %}">

{% build_absolute_uri request=request location=object.get_absolute_url as object_url %}
<meta property="og:url" content="{{ object_url }}">
<link rel="canonical" href="{{ object_url }}?page={{ products_paginated.number }}">

{% if products_paginated.has_previous %}
<link rel="prev" href="{{ object_url }}?page={{ products_paginated.previous_page_number }}">
{% endif %}

{% if products_paginated.has_next %}
<link rel="next" href="{{ object_url }}?page={{ products_paginated.next_page_number }}">
{% endif %}
{% endblock meta_tags %}

{% block breadcrumb %}
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb">
					{% block breadcrumb_part %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block topcontent %}
{% if object.background_image %}
<div class="row" id="product-list-image" style="background-image: url('{{ object.background_image.url }}')"></div>
{% endif %}
{% endblock topcontent %}

{% block content %}
{% block collection_published_warning %}{% endblock %}
<div id="product-list-page" class="mt-4">
    <div class="row">
		<div class="col-md-4 col-lg-3">
			{% block filters %}{% endblock filters %}
		</div>
		<div class="col-md-8 col-lg-9 product-list">
			{% if products %}
			<div class="shop-content" style="width:100%">
                <div class="">
                    <div class="product-option mb-30 clearfix">
                        <div class="row">
                            <div class="col-md-6">
								<ul id="tabsJustified" class="nav nav-tabs shop-tab">
									<li class="nav-item"><a href="" data-target="#grid-view" data-toggle="tab" class="active"><i class="icon-grid"></i></a> 
									</li>
									<li class="nav-item"><a href="" data-target="#list-view" data-toggle="tab"><i class="icon-list"></i></a> 
									</li>
		                        </ul>								
                            </div>
                            <div class="col-md-6">
                                <!-- <div class="showing pull-right"> 
		                             <p class="hidden-xs"> | Showing: 1 - 6 Of 17 </p>
		                             </div> -->
                                <div class="pull-right">
									<div class="sort-by">
										<div class="click-area d-none"></div>
										<button class="btn-link">
											<div>
												<span>
													{% if now_sorted_by == 'name' %}
													{% blocktrans trimmed %}
													Sort by: <b>name</b>
													{% endblocktrans %}
													{% elif now_sorted_by == 'price' %}
													{% blocktrans trimmed %}
													Sort by: <b>price</b>
													{% endblocktrans %}
													{% endif %}
												</span>
												<div class="sort-order-icon">
													{% if is_descending %}
													<svg data-src="{% static "images/arrow-down.svg" %}" />
													{% else %}
													<svg data-src="{% static "images/arrow-up.svg" %}" />
													{% endif %}
												</div>
											</div>
										</button>
										<ul class="sort-list d-none">
											{% for choice, label in sort_by_choices.items %}
											<li>
												<div class="row">
													<div class="col-6">
														{% trans 'Sort by' context 'Product list filters' %}:
														<strong>{{ label }}</strong>
													</div>
													<div class="col-6">
														<div>
															<a href="{% get_sort_by_url choice %}">
																<span>{% trans 'ascending' context 'sort by option' %}</span>
															</a>
															<a href="{% get_sort_by_url choice descending=True %}">
																<span>{% trans 'descending' context 'sort by option' %}</span>
															</a>
														</div>
													</div>
												</div>
											</li>
											{% endfor %}
										</ul>
									</div>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tabsJustifiedContent" class="tab-content">
                    <div id="grid-view" class="tab-pane fade active show">
						{% include "product/_items.html" with products=products %}
                    </div>
                    <div id="list-view" class="tab-pane fade">
                        <div class="shop-list">
							{% include "product/_items.html" with products=products list=True %}
						</div>
					</div>
				</div>
				<div class="m-auto">
					{% if products_paginated.has_other_pages %}
					{% bootstrap_pagination products_paginated extra=request.GET.urlencode %}
					{% endif %}
				</div>
			</div>
			{% else %}
			<div class="row no-results">
				<div class="col-12">
					<svg data-src="{% static "images/no-results-bg.svg" %}"
						 width="360"
						 height="360" />
					<p>{% trans "Sorry, no matches found for your request." context "Search without results text" %}</p>
					<p>{% trans "Try again or shop new arrivals." context "Search without results text" %}</p>
				</div>
			</div>
			{% endif %}
		</div>
    </div>
</div>
{% for product, availability in products %}
{% include 'product/_quickview.html' with product=product %}
{% endfor %}
{% endblock content %}
