{% extends "product/product_list_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block breadcrumb_part %}
{% block breadcrumb_part %}
<a href="{% url 'home' %}"><i class="icon-home"></i> Home</a>
<span class="crumbs-spacer"><i class="fa fa-angle-double-right"></i></span>
<span class="current">{{ object.name }}</span>
<h2 class="entry-title">{{ object.name }}</h2>
{% endblock %}
{% endblock %}

{% block collection_published_warning %}
  {% if not object.is_published %}
    <div class="alert alert-warning" role="alert">
      {% blocktrans context "Unavailable collection detail text" %}
        <strong>Warning!</strong>
        You are previewing a collection that is not published.
      {% endblocktrans %}
    </div>
  {% endif %}
{% endblock %}

{% block filters %}
  {% include "product/_filters.html" %}
{% endblock filters %}
