{% load i18n %}
{% load get_thumbnail from product_images %}
{% load placeholder %}
{% load price from taxed_prices %}
{% load staticfiles %}

<div class="cart-box">
  <div class="popup-container">
      <div class="cart-entry">
          <a href="#" class="image"><img src="{% static "assets/new/img/products/product-menu-1.jpg" %}" alt=""></a>
          <div class="content">
              <a href="#" class="title">Pullover Batwing</a>
              <p class="quantity">Quantity: 3</p>
              <span class="price">$45.00</span>
          </div>
          <div class="button-x">
              <i class="icon-close"></i>
          </div>
      </div>
      <div class="cart-entry">
          <a href="#" class="image"><img src="{% static "assets/new/img/products/product-menu-2.jpg" %}" alt=""></a>
          <div class="content">
              <a href="#" class="title">Pullover Batwing</a>
              <p class="quantity">Quantity: 3</p>
              <span class="price">$90.00</span>
          </div>
          <div class="button-x">
              <i class="icon-close"></i>
          </div>
      </div>
      <div class="summary">
          <div class="subtotal">Sub Total</div>
          <div class="price-s">$210.5</div>
      </div>
      <div class="cart-buttons">
          <a href="#" class="btn btn-border-2">View Cart</a>
          <a href="#" class="btn btn-common">Checkout</a>
          <div class="clear"></div>
      </div>
  </div>
</div>
