{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block breadcrumb %}
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb">
                    <a href="{% url 'home' %}"><i class="icon-home"></i> Home</a>
                    <span class="crumbs-spacer"><i class="fa fa-angle-double-right"></i></span>
                    <span class="current">Contact Us</span>
                    <h2 class="entry-title">Contact Us</h2>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<section id="content">
    <div class="contact-info">
        <div class="container">
            <div class="contact-info-wrapper clearfix">
                <div class="col-xs-12">
                    <div class="contact-item-wrapper mt-4">
                        <h4>Address</h4>
                        <div class="info">
                            <div class="icon">
                                <i class="icon-location-pin"></i>
                            </div>
                            <p>9923 South Avenue Street <br> Kolkata, India</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="contact-item-wrapper mt-4">
                        <h4>Phone</h4>
                        <div class="info">
                            <div class="icon">
                                <i class="icon-screen-smartphone"></i>
                            </div>
                            <p>Phone: +91-9083250-171/225/226 <br> Fax: 0123-456</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="contact-item-wrapper mt-4">
                        <h4>E-mail</h4>
                        <div class="info">
                            <div class="icon">
                                <i class="icon-paper-plane"></i>
                            </div>
                            <p><a href="mailto:info@teeshood.com">info@teeshood.com</a> <br> <a href="mailto:sales@teeshood.com">sales@teeshood.com</a></p>
						</div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="header-wrap text-center">
                    <h3>Send us a message</h3>
                    <p class="description">Aenean a turpis finibus euismod augue et facilisis elit. In sed quam et dui.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-form-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form id="contactForm" class="contact-form" data-toggle="validator" method="POST">
						{% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="{{ contact_form.name.name }}" name="{{ contact_form.name.name }}" placeholder="Full Name" required data-error="Please enter your name">
                                            <div class="help-block with-errors">{{ contact_form.name.errors }}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="email" class="form-control" id="{{ contact_form.email.name }}" name="{{ contact_form.email.name }}" placeholder="mail@sitename.com" required data-error="Please enter your email">
                                            <div class="help-block with-errors">{{ contact_form.email.errors }}</div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="{{ contact_form.subject.name }}" name="{{ contact_form.subject.name }}" placeholder="Subject" required data-error="Please enter your subject">
                                            <div class="help-block with-errors">{{ contact_form.subject.errors }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea class="form-control" id="{{ contact_form.message.name }}" name="{{ contact_form.message.name }}" placeholder="Massage" rows="9" data-error="Write your message" required></textarea>
                                            <div class="help-block with-errors">{{ contact_form.message.errors }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-xs-12">
                                <button type="submit" id="submit" class="btn btn-common">Send Message</button>
                                <div id="msgSubmit" class="h3 text-center hidden"></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> 
</section>  

<div class="faq section bg-grey">
    <div class="container">                    
        <div class="head-faq text-center"> 
            <h2>
                Frequently Asked Questions
            </h2>
            <p>Last Updated on October 10, 2018</p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel-group" id="accordion">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <span class="num">Q1.</span>
                                    How do I check the current status of My orders?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <ul>
                                    <li>You can review the status of your orders and other related information in the My Account section.</li>
									<li>In the My Account page, click on the My orders link to view the status of all your orders. To view the status of a specific order, click on the Order Number link.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    <span class="num">Q2.</span>
                                    What do the different order status mean ?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    <li><strong>Payment Pending Authorization: </strong>Your order has been logged and we are waiting for authorization from the payment gateway.</li>
                                    <li><strong>Payment Authorized, Order under Processing: </strong>Authorization has been received from the payment gateway and your order is being processed by the seller.</li>
                                    <li><strong>Order Shipped: </strong>Your order has been shipped by the seller and is on its way to the location specified by you for delivery.</li>
                                    <li><strong>Order Cancelled: </strong>The order was cancelled.</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    <span class="num">Q3.</span>
                                    Are there any hidden costs (sales tax, octroi etc) on items sold ?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    <li>There are NO hidden charges when you make a purchase on TEESHOOD. List prices are final and all-inclusive. The price you see on the product page is exactly what you would pay.</li>
                                    <li>Delivery charges are not hidden charges and are charged (if at all) extra depending on the Seller’s shipping policy.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                    <span class="num">Q4.</span>
                                    Why does the estimated Delivery time vary for each seller?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">
                                <ul>
                                    <li>You have probably noticed varying estimated delivery times for sellers of the product you are interested in. Delivery times are influenced by product availability, geographic location of the Seller, your shipping destination and the courier partner’s time-to-deliver in your location.</li>
                                    <li>Please enter your default pin code on the product page (you don’t have to enter it every single time) to know more accurate delivery times on the product page itself.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                    <span class="num">Q5.</span>
                                    What is the estimated Delivery time?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>Sellers generally procure and ship the items within the time specified on the product page. Business days exclude public holidays and Sundays. <strong>Estimated Delivery time depends on the following factors:</strong>
                                    <ul>
                                        <li>The Seller offering the product</li>
                                        <li>Product’s availability with the Seller</li>
                                        <li>The destination to which you want the order shipped to and location of the Seller.</li> 
                                    </ul>
                            </div>
                        </div>
                    </div> 
                </div> 
            </div>
        </div>
    </div>
</div>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2802.688240500036!2d-73.89170351204265!3d40.63681398024793!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25cd8a299941d%3A0xb3d61d3b13833857!2s9923+Avenue+N%2C+Brooklyn%2C+NY+11236%2C+USA!5e0!3m2!1sen!2sbd!4v1507048551905" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> 

{% endblock %}
