{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load taxed_prices %}
{% load product_first_image from product_images %}

{% block banners %}
<section id="slider">
	<div class="tp-banner-container">
		<div class="tp-banner">
			<ul>
				{% for banner in site.settings.productbanner_set.all %}
				<li data-transition="fade" data-slotamount="7" data-masterspeed="2000" data-thumb="{{ banner.image.crop.100x100 }}" data-delay="10000">
					<img src="{% static 'assets/new/img/dummy.png' %}" alt="laptopmockup_sliderdy" data-lazyload="{{ banner.image.url }}" data-bgposition="top" data-duration="12000" data-ease="Power0.easeInOut" data-bgfit="115" data-bgfitend="100" data-bgpositionend="right">
				</li>
				{% endfor %}
			</ul>
		</div>
	</div> 
</section>
{% endblock %}
{% block content %}
<section id="deals-of-the-day" class="section">
	<div class="container">
		<h1 class="section-title ">Deals of the Day</h1>
		<!--<div class="deal-day text-center">
			<div class="icon inline"><span class="icon-clock"></span></div>
			<div id="defaultCountdown" class="inline"></div> 
			<div class="text inline">remaining </div>
		</div>-->
		<hr class="lines">
		<div class="row">
			<div class="col-md-12">
				<div id="new-products" class="owl-carousel">
					{% for product, availability in products %}
					<div class="item">
						<div class="shop-product">
							<div class="product-box">
								<a href="{{ product.get_absolute_url }}"><img src="{% product_first_image product method="crop" size="255x255" %}" alt=""></a>
								<div class="cart-overlay"></div>
								<div class="actions">
									<div class="add-to-links">
										{% if availability.available %}
										<a href="{{ product.get_absolute_url }}" class="btn-cart"><i class="icon-basket-loaded"></i></a>
										{% endif %}
										<!--<a class="btn-quickview md-trigger" data-modal="modal-3"><i class="icon-eye"></i></a>-->
									</div>
								</div>
							</div>
							<div class="product-info">
								<h4 class="product-title"><a href="{{ product.get_absolute_url }}">{{ product }}</a></h4>
								<div class="align-items">
									<div class="pull-left1">
										<span class="price">
											{% if availability.available %}
											{% if availability.discount %}
											{% if availability.price_range_undiscounted.start != availability.price_range.start %}
											{% price availability.price_range %} <del>{% price availability.price_range_undiscounted %}</del> 
											{% endif %}
											{% else %}
											{% price availability.price_range %}
											{% endif %}
											{% else %}
											Out of Stock
											{% endif %}
										</span>
									</div> 
								</div> 
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>

{% if site.settings.categorytile_set.all %}
<section class="feature-categories section">
	<div class="container">
		<div class="row">
			{% for i in site.settings.categorytile_set.all %}
			<div class="col-md-4 col-sm-4 col-xs-12 pb-md-4">
				<div class="feature-item-content pb-md-4">
					<img src="{{ i.image.url }}" alt="">
					<div class="feature-content">
						{% if i.name %}
						<div class="banner-text">
							<h4>{{ i.name }}</h4>
						</div>
						{% endif %}
						<a href="{% if i.category_url %}{{ i.category_url }}{% else %}javascript:void(){% endif %}" class="btn btn-common">Shop Now</a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
{% endif %}

<div class="testimonial section">
	<div class="container">
		<div class="row">
			<div class="testimonials-carousel owl-carousel">
				<div class="item">
					<div class="testimonial-item">
						<div class="author-info">
							<a href="#"><img src="{% static "assets/new/img/testimonial/img1.jpg" %}" alt=""></a>
							<div class="author-title">
								<h5>Jared Erondu</h5>
								<span>- CEO & art director</span>
							</div>
						</div>
						<div class="datils">
							<p><span><i class="fa fa-quote-left" aria-hidden="true"></i></span>  Lorem Ipsum is simply dummy text of the printing andypesetting industry. Lorem ipsum a simpleLorem,Lorem Ipsum is simply dummy text of the printing andypesetting industry. Lorem ipsum a simpleLorem <span></span></p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="testimonial-item">
						<div class="author-info">
							<a href="#"><img src="{% static "assets/new/img/testimonial/img2.jpg" %}" alt=""></a>
							<div class="author-title">
								<h5>Cadic Vegeta</h5>
								<span>- Graphic Design</span>
							</div>
						</div>
						<div class="datils">
							<p><span><i class="fa fa-quote-left" aria-hidden="true"></i></span>  Lorem Ipsum is simply dummy text of the printing andypesetting industry. Lorem ipsum a simpleLorem,Lorem Ipsum is simply dummy text of the printing andypesetting industry. Lorem ipsum a simpleLorem <span></span></p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="testimonial-item">
						<div class="author-info">
							<a href="#"><img src="{% static "assets/new/img/testimonial/img3.jpg" %}" alt=""></a>
							<div class="author-title">
								<h5>Jonathan Beri</h5>
								<span>- Web Developer</span>
							</div>
						</div>
						<div class="datils">
							<p><span><i class="fa fa-quote-left" aria-hidden="true"></i></span>  Lorem Ipsum is simply dummy text of the printing andypesetting industry. Lorem ipsum a simpleLorem,Lorem Ipsum is simply dummy text of the printing andypesetting industry. Lorem ipsum a simpleLorem <span></span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<section id="shop-collection" class="section">
	<div class="container">
		<h1 class="section-title">Featured Products</h1>
		<hr class="lines">
		<div class="row">
			{% for product, availability in products %}
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="shop-product">
					<div class="product-box">
						<a href="{{ product.get_absolute_url }}"><img src="{% product_first_image product method="crop" size="255x255" %}" alt="{{ product }}"></a>
					</div>
					<div class="product-info">
						<h4 class="product-title"><a href="{{ product.get_absolute_url }}">{{ product }}</a></h4>
						<div class="align-items">
							<div class="pull-left1">
								<span class="price">
									{% if availability.available %}
									{% if availability.discount %}
									{% if availability.price_range_undiscounted.start != availability.price_range.start %}
									{% price availability.price_range.start %} <del>{% price availability.price_range_undiscounted.start %}</del> 
									{% endif %}
									{% else %}
									{% price availability.price_range %}
									{% endif %}
									{% else %}
									Out of Stock
									{% endif %}
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section> 

<div class="client section">
	<div class="container">
		<h1 class="section-title">Some of our great customers</h1>
		<hr class="lines">
		<div class="row">
			<div id="client-logo" class="owl-carousel">
				<div class="client-logo item">
					<a href="#"><img src="{% static "assets/new/img/clients/logo-01.png" %}" alt="" /></a>
				</div>
				<div class="client-logo item">
					<a href="#"><img src="{% static "assets/new/img/clients/logo-02.png" %}" alt="" /></a>
				</div>
				<div class="client-logo item">
					<a href="#"><img src="{% static "assets/new/img/clients/logo-03.png" %}" alt="" /></a>
				</div>
				<div class="client-logo item">
					<a href="#"><img src="{% static "assets/new/img/clients/logo-04.png" %}" alt="" /></a>
				</div>
				<div class="client-logo item">
					<a href="#"><img src="{% static "assets/new/img/clients/logo-05.png" %}" alt="" /></a>
				</div>
				<div class="client-logo item">
					<a href="#"><img src="{% static "assets/new/img/clients/logo-06.png" %}" alt="" /></a>
				</div>
				<div class="client-logo item">
					<a href="#"><img src="{% static "assets/new/img/clients/logo-07.png" %}" alt="" /></a>
				</div>
				<div class="client-logo item">
					<a href="#"><img src="{% static "assets/new/img/clients/logo-08.png" %}" alt="" /></a>
				</div>
			</div>
		</div>
	</div>
</div> 

<section id="services" class="section">
	<div class="container"> 
		<h1 class="section-title">Order on Teeshood with <br/>full satisfaction</h1>
		<hr class="lines">
		<div class="row">
			
			<div class="col-md-4 col-sm-6">
				<div class="services-box">
					<div class="services-icon">
						<i class="icon-screen-tablet"></i>
					</div>
					<div class="services-content">
						<h4><a href="#"> Human verification at each step</a></h4>
						<p>
							Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="services-box">
					<div class="services-icon">
						<i class="icon-support"></i>
					</div>
					<div class="services-content">
						<h4><a href="#"> 100% Quality Guaranteed</a></h4>
						<p>
							Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="services-box">
					<div class="services-icon">
						<i class="icon-notebook"></i>
					</div>
					<div class="services-content">
						<h4><a href="#"> Always at Lowest Price</a></h4>
							<p>
								Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit.
							</p>
						</div>
					</div>
				</div> 

			</div>
		</div>
	</section>
{% endblock %}
